*.bin

/cat
/chgrp
/chmod
/chown
/chroot
/cksum
/cp
/cut
/dd
/df
/du
/echo
/env
/head
/join
/ln
/ls
/mkdir
/mknod
/mv
/nice
/nohup
/pwd
/rm
/rmdir
/shred
/sleep
/sort
/split
/stat
/tail
/tee
/touch
/uname
/uniq
/wc
/whoami
